@use "src/styles/mixins";

.projects {
  width: 100%;
  max-width: var(--max-width);
  @include mixins.row_gap(10px);
  display: flex;
  flex-direction: column;
  padding: 40px var(--padding) 80px;
  margin: auto;

  h2 {
    @include mixins.font_params(12, 1.17, 500);
    color: var(--gray-color);
    margin: auto;
    text-align: center;
  }

  ul {
    li {
      width: 100%;
    }

    button {
      cursor: default;
    }

    h3 {
      @include mixins.font_params(16, 1.2, 700, -0.02);

      text-transform: uppercase;

      color: var(--black-color);
      padding: 20px;
      text-align: center;
    }

    p {
      @include mixins.font_params(14, 1.57, 500);
    }

    li[data-active="false"] {
      h3 {
        color: var(--light-gray-color);
        cursor: pointer;
      }

      button {
        cursor: pointer;

        &:hover h3 {
          color: var(--accept-color);
        }
      }
    }

    > :not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  li[data-active="true"] &__info {
    color: var(--black-color);
  }


  li[data-active="false"] &__info {
    color: transparent;
  }

  &__info {
    max-width: 50%;
    margin-left: auto;
    @include mixins.row_gap(37px);

    > :last-child {
      padding-bottom: 20px;
    }
  }

  &__cub {
    display: none;
  }
}

@media screen and (min-width: 1190px) {
  .projects {
    @include mixins.row_gap(40px);
    padding: 80px var(--padding) 60px;

    h2 {
      @include mixins.font_params(20, 1.35, 400);
      color: var(--gray-color);
      text-align: center;
    }

    ul {
      h3 {
        @include mixins.font_params(40, 1.2, 400, -0.02);
        padding: 0;
      }

      p {
        max-width: 427px;
        @include mixins.font_params(20, 1.35, 400);
      }

      > :not(:last-child) {
        border-bottom: none;
      }
    }

    li[data-active="false"] &__info {
      color: var(--black-color);
    }

    &__info {
      @include mixins.row_gap(30px);

      > :last-child {
        padding-bottom: 0;
      }
    }

    &__info {
      display: none;
    }

    &__cub, &__cub &__info  {
      display: block;
    }

    &__cub {
      position: relative;
      display: flex;
      align-items: center;

      li {
        position: absolute;
        padding: 40px 0;

        p {
          opacity: 0;
        }

        &[data-active="true"] p {
          opacity: 1;
        }
      }
    }
  }
}
