@use "src/styles/mixins";

.header-nav {
  width: 100%;

  display: flex;
  align-items: center;

  > a {
    @include mixins.bg(
      $bg: var(--white-color),
      $c: var(--black-color),
      $hbg: var(--white-color),
      $hc: var(--accept-color)
    );

    @include mixins.font_params(14, 1.93, 500);
    width: 100%;
    padding: 13px;
    text-align: center;

    &:first-child {
      @include mixins.bg(
        $bg: var(--accept-color),
        $c: var(--white-color),
        $hbg: var(--white-color),
        $hc: var(--accept-color)
      );
    }

    color: var(--black-color);
  }
}

@media screen and (min-width: 1190px) {
  .header-nav {
    width: auto;

    > a {
      @include mixins.font_params(20, 1.35, 400);
      width: auto;
      padding: 16px 140px 16px 128px;

      @include mixins.bg(
              $bg: transparent,
              $c: var(--black-gr-color),
              $hbg: transparent,
              $hc: var(--accept-color)
      );

      &:first-child {
        @include mixins.bg(
                $bg: var(--accept-color),
                $c: var(--white-color),
                $hbg: var(--white-color),
                $hc: var(--accept-color)
        );
      }
    }
  }
}
