@use "src/styles/mixins";

.process {
  width: 100%;
  max-width: var(--max-width);
  @include mixins.row_gap(20px);
  display: flex;
  flex-direction: column;
  padding: var(--padding) var(--padding) 40px;
  margin: auto;

  h2 {
    max-width: 258px;
    @include mixins.font_params(25, 1, 700, -0.02);
    text-transform: uppercase;

    color: var(--black-color);
  }

  &__info {
    @include mixins.row_gap(15px);
    @include mixins.font_params(14, 1.57, 500);
    color: var(--black-color);
  }
}

@media screen and (min-width: 1190px) {
  .process {
    @include mixins.row_gap(0);
    flex-direction: row;
    justify-content: space-between;
    padding: 40px var(--padding) 154px;

    > * {
      width: calc(50% - 10px);
    }

    h2 {
      max-width: 100%;
      @include mixins.font_params(60, 1, 400, -0.02);
    }

    &__info {
      @include mixins.row_gap(30px);
      @include mixins.font_params(25, 1.36, 400);
    }
  }

}
