@use "src/styles/mixins";

.example {
  width: 284px;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  padding: 40px var(--padding) 60px;
  margin: auto;
  box-sizing: content-box;

  > p {
    @include mixins.font_params(12, 1.17, 500);
    text-align: center;

    color: var(--gray-color);
    margin-bottom: 30px;
  }

  > h2 {
    @include mixins.row_gap(5px);
    @include mixins.font_params(16, 1, 700, -0.02);

    display: flex;
    flex-direction: column;

    text-transform: uppercase;
    text-align: center;

    color: var(--black-color);
  }

  > a {
    @include mixins.center;
    @include mixins.font_params(20, 1.35, 400);

    @include mixins.bg(
            $bg: var(--accept-color),
            $c: var(--white-color),
            $hbg: var(--white-color),
            $hc: var(--accept-color)
    );

    color: var(--white-color);
    border: 3px solid var(--accept-color);
    display: none;
    width: 230px;
    height: 230px;
    background-color: var(--accept-color);
    margin: auto;
    border-radius: 50%;
  }
}

@media screen and (min-width: 1190px) {
  .example {
    @include mixins.row_gap(40px);
    width: 692px;
    padding: 100px var(--padding) 180px;

    > p {
      @include mixins.font_params(20, 1.35, 400);
      text-align: center;

      color: var(--gray-color);
    }

    > h2 {
      @include mixins.row_gap(0);
      @include mixins.font_params(40, 1.2, 400, -0.02);
    }

    > a {
      display: flex;
      margin-top: 40px;
    }
  }
}
