@use "src/styles/mixins";

.divider {
  $c: rgba(0, 0, 0, 0.1);

  display: block;
  margin: 0 var(--padding);
  border-top: 1px solid $c;

  &--line {
    &::after {
      content: "";
      display: block;
      border-left: 1px solid $c;
      height: 100px;
      width: 0;
      margin: auto;
    }
  }
}

@media screen and (min-width: 1190px) {
  .divider {
    &--line {
      &::after {
        height: 250px;
      }
    }
  }

}
