@keyframes a_transformX {
  0%,
  20% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes _a_transformX {
  0%,
  20% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes a_opacity {
  0%,
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.appearance {
  max-width: 100vw;
  max-width: 100dvw;
  overflow: hidden;

  &__container {
    animation-duration: 1s;
    opacity: 0;
  }

  &__animation {
    animation-fill-mode: forwards;

    &[data-animation=transformX] {
      animation-name: a_transformX;
    }

    &[data-animation=-transformX] {
      animation-name: _a_transformX;
    }

    &[data-animation=opacity] {
      animation-name: a_opacity;
    }
  }
}
