@use "src/styles/mixins";

.header {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  box-sizing: border-box;
  margin: auto;

  &__name {
    @include mixins.font_params(20, 1.35, 500);
    text-transform: uppercase;

    color: var(--black-gr-color);
    display: flex;
    align-items: center;
  }

  &__nav-wrapper {
    display: none;
  }
}

@media screen and (min-width: 1190px) {
  .header {
    padding: 15px var(--padding);

    &__nav-wrapper {
      display: block;
    }
  }
}
